body {
	background: #264a2f;
	margin: 0;
	font-family: "Lato", sans-serif;
  text-align: center;
}

.parallax-container {
  position: fixed;
  overflow: visible;
  width: 100%;
  height: 900px;  
}

.parallax-mask {
	background-color: #13135a;
	opacity: 0;
	z-index: 40;
	height: 100%;
	width: 100%;
	position: fixed;
}

.parallax-layer {
  width: 100%;
  height: 900px;
  position: fixed;
  left: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 100% 600px;
}

.layer-0-mask {
	background-color: #061D3B;
	opacity: 0;
	z-index: 3;
	height: 100%;
	width: 100%;
	position: relative;
}
.layer-0 {
	top: 0;
	z-index: 1;
	background: #d3ffdd;
}
.layer-1 {
	top: -150px;
	z-index: 4;
	background-image: url(./res/layer1_stars.png);
}
.layer-2 {
	top: -190px;
	z-index: 5;
	background-image: url(./res/layer2_mountains.png);
}
.layer-3 {
	top: -130px;
	z-index: 10;
	background-image: url(./res/layer3_mountains.png);
}
.layer-4 {
	top: -70px;
	z-index: 15;
	background-image: url(./res/layer4_mountains.png);
}
.layer-5 {
	top: 50px;
	z-index: 20;
	background-image: url(./res/layer5_mountains.png);
}
.layer-6 {
	top: 70px;
	z-index: 25;
	background-image: url(./res/layer6_trees.png);
}
.layer-7 {
	top: 220px;
	z-index: 30;
	background-image: url(./res/layer7_trees.png);
}
  
.main {
	background: #2a4c32;
  position: absolute;
  top: 1050px;
  width: 100%;
  min-height: 2000px;
}

.header {
	height: 300px;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	-ms-transition: height 0.5s;
	-o-transition: height 0.5s;
	transition: height 0.5s;
}

.header div {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: #fff;
	font-size: 40px;
	text-transform: uppercase;
	text-align: center;
	z-index: 60;
	margin: 0;
	-webkit-transition: font-size 0.5s;
	-moz-transition: font-size 0.5s;
	-ms-transition: font-size 0.5s;
	-o-transition: font-size 0.5s;
	transition: font-size 0.5s;
}

.stickyHeader {
	position: fixed;
	top: 0;
	z-index: 50;
	width: 100%;
	background-color: #19254c;
	height: 100px;
}

.stickyHeader div {
	font-size: 25px;
}

.content {
	min-height: 300px;
	width: 100%;
	position: relative;
	background-color: white;
	z-index: 45;
}

.stickyContent {
	padding-top: 100px;
}

.paragraphs {
	width: 60%;
	margin: auto;
	font-size: 18px;
	color: #656464;
	padding-top: 15%;
	padding-bottom: 15%;
}

.paragraph-title {
	font-size: 20px;
	text-transform: uppercase;
	padding-bottom: 20px;
}

.second-parallax {
	height: 500px;
	width: 100%;
	z-index: 45;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1427955569621-3e494de2b1d2?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&crop=');
}

.third-parallax {
	height: 500px;
	width: 100%;
	z-index: 45;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1481724144070-889bf9281820?dpr=1&auto=compress,format&fit=crop&w=1950&h=&q=80&cs=tinysrgb&crop=');
}

.text {
	color: rgba(255, 255, 255, 0.8);
	font-size: 5em;
	line-height: 500px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-text {
	color: rgba(255, 255, 255, 0.8);
	font-size: 60px;
	line-height: 500px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-section {
	height: 500px;
	width: 100%;
	z-index: 45;
	position: relative;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://images.unsplash.com/photo-1428585227457-326f25f9cee2?dpr=1&auto=compress,format&fit=crop&w=1650&h=&q=80&cs=tinysrgb&crop=');
}


.parallax {
	height: 500px;
	width: 100%;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-image: url('https://goo.gl/QdVeyY');
}

@media (max-width: 800px) {
    .parallax-layer {
      width: 100%;
      height: 800px;
      background-size: cover;
    }
}

@media (max-width: 600px) {
	  .main {
      top: 850px;
      min-height: 2000px;
    }
    .header {
      height: 200px;
    }
    .stickyHeader {
	    height: 80px;
    }
    .parallax-layer {
      width: 600px;
      height: 800px;
      background-size: 100% 400px;
    }
    .layer-0 {
      top: 0;
    }
    .layer-1 {
      top: -150px;
    }
    .layer-2 {
      top: -190px;
    }
    .layer-3 {
      top: -130px;
    }
    .layer-4 {
      top: -70px;
    }
    .layer-5 {
      top: 40px;
    }
    .layer-6 {
      top: 50px;
    }
    .layer-7 {
      top: 180px;
    }
}
